## **CSV-TRABAJAR CON SPARK**

In [9]:
#COnfiguración esencial
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('SESION')\
    .config('spark.master', 'local[6]')\
    .config('spark.executor.memory', '6g')\
    .config("spark.sql.shuffle.partitions", 1)\
    .config('spark.driver.memory','6g')\
    .config("spark.sql.execution.arrow.pyspark.enabled", True)\
    .getOrCreate()

path = "C:/Users/Rayzek/Desktop/Nueva carpeta/ReporteTerminales 2022.11.21.csv"
df = spark.read.option("delimiter", ";").csv(path)
df.show(5)

+------------------+----------------+----------------+---------+--------------------+------------+--------+------+-----------+---------------+--------------------+---------------+--------------------+
|               _c0|             _c1|             _c2|      _c3|                 _c4|         _c5|     _c6|   _c7|        _c8|            _c9|                _c10|           _c11|                _c12|
+------------------+----------------+----------------+---------+--------------------+------------+--------+------+-----------+---------------+--------------------+---------------+--------------------+
|Reporte Terminales|            null|            null|     null|                null|        null|    null|  null|       null|           null|                null|           null|                null|
|              null|            null|            null|     null|                null|        null|    null|  null|       null|           null|                null|           null|                null|
|              TIPO|TERMINAL/DNI/RUC|AGENTE/EJECUTIVO|UBICACI�N|            ART�CULO|N�MERO SERIE|CANTIDAD|ESTADO|ACTUALIZADO|ESTADO_TERMINAL|FECHA_ACTUALIZACI...|Estado Personal|FECHA ACTUALIZACI...|
|      RUC(Empresa)|            null|            null|     null|                null|        null|    null|  null|       null|           null|                null|           null|                null|
|      RUC(Empresa)|            null|            null|     null|CARGADOR ICT220/1218|   P83214389|       1|Creado|       null|           null|                null|           null|                null|
+------------------+----------------+----------------+---------+--------------------+------------+--------+------+-----------+---------------+--------------------+---------------+--------------------+
only showing top 5 rows

## **CSV-TRABAJAR CON SPARK Y LUEGO PASAR A PANDAS**

In [12]:
#COnfiguración esencial
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('SESION')\
    .config('spark.master', 'local[6]')\
    .config('spark.executor.memory', '6g')\
    .config("spark.sql.shuffle.partitions", 1)\
    .config('spark.driver.memory','6g')\
    .config("spark.sql.execution.arrow.pyspark.enabled", True)\
    .getOrCreate()

path = "C:/Users/Rayzek/Desktop/Nueva carpeta/ReporteTerminales 2022.11.21.csv"
df = spark.read.option("delimiter", ";").csv(path)

import pyspark.pandas as ps
ds=df.toPandas()
cabeza=ds.iloc[2]
ds=ds[3:]
ds.columns=cabeza

## **CSV-TRABAJAR CON MÉTODO TRADICIONAL**

In [86]:
import pandas as pd
path = "C:/Users/Rayzek/Desktop/Nueva carpeta/ReporteTerminales 2022.11.21.csv"
da=pd.read_csv(path,sep=';', encoding='latin-1')
cabeza=da.iloc[1]
da=da[2:]
da.columns=cabeza
da.head()

C:\Users\Rayzek\AppData\Local\Temp\ipykernel_14672\117472025.py:3: DtypeWarning: Columns (1,6,11,12) have mixed types. Specify dtype option on import or set low_memory=False.
  da=pd.read_csv(path,sep=';', encoding='latin-1')

1,TIPO,TERMINAL/DNI/RUC,AGENTE/EJECUTIVO,UBICACIÓN,ARTÍCULO,NÚMERO SERIE,CANTIDAD,ESTADO,ACTUALIZADO,ESTADO_TERMINAL,FECHA_ACTUALIZACION_TERMINAL,Estado Personal,FECHA ACTUALIZACION PERSONAL
2,RUC(Empresa),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,RUC(Empresa),NaN,NaN,NaN,CARGADOR ICT220/1218,P83214389,1,Creado,NaN,NaN,NaN,NaN,NaN
4,RUC(Empresa),NaN,NaN,NaN,ICT220 TELIUM 3 - 11P2759A/1218,18275CT81750089,1,Creado,NaN,NaN,NaN,NaN,NaN
5,RUC(Empresa),NaN,NaN,NaN,APOS A8 PRO-95D1 12/19,199KAA100765,1,De regreso,NaN,NaN,NaN,NaN,NaN
6,RUC(Empresa),NaN,NaN,NaN,APOS A8 PRO-95D1 12/19,199KAA100766,1,De regreso,NaN,NaN,NaN,NaN,NaN

## **EXCEL-TRABAJAR CON SPARK-PANDAS**

In [11]:
import pyspark.pandas as ps
# Enable Arrow-based columnar data transfers
spark.conf.set("spark.sql.execution.arrow.pyspark.enabled", "true")

path = "C:/Users/Rayzek/Desktop/Nueva carpeta/ReporteTerminales 2022.11.21.xlsx"
da=ps.read_excel("C:/Users/Rayzek/Desktop/Nueva carpeta/ReporteTerminales 2022.11.21.xlsx")
cabeza=da.iloc[1]
da=da[2:]
da.columns=cabeza
da.head()

c:\Users\Rayzek\AppData\Local\Programs\Python\Python310\lib\site-packages\pyspark\pandas\namespace.py:1126: FutureWarning: convert_float is deprecated and will be removed in a future version.
  return pd.read_excel(
c:\Users\Rayzek\AppData\Local\Programs\Python\Python310\lib\site-packages\pyspark\pandas\namespace.py:1126: FutureWarning: The squeeze argument has been deprecated and will be removed in a future version. Append .squeeze("columns") to the call to squeeze.


  return pd.read_excel(

           TIPO TERMINAL/DNI/RUC AGENTE/EJECUTIVO UBICACIÓN                         ARTÍCULO     NÚMERO SERIE CANTIDAD      ESTADO ACTUALIZADO ESTADO_TERMINAL FECHA_ACTUALIZACION_TERMINAL Estado Personal FECHA ACTUALIZACION PERSONAL
2  RUC(Empresa)             None             None      None                             None             None     None        None        None            None                         None            None                         None
3  RUC(Empresa)             None             None      None             CARGADOR ICT220/1218        P83214389        1      Creado        None            None                         None            None                         None
4  RUC(Empresa)             None             None      None  ICT220 TELIUM 3 - 11P2759A/1218  18275CT81750089        1      Creado        None            None                         None            None                         None
5  RUC(Empresa)             None             None      None           APOS A8 PRO-95D1 12/19     199KAA100765        1  De regreso        None            None                         None            None                         None
6  RUC(Empresa)             None             None      None           APOS A8 PRO-95D1 12/19     199KAA100766        1  De regreso        None            None                         None            None                         None

## **EXCEL-TRABAJAR CON SPARK-PANDAS + PYARROW**

In [8]:
import numpy as np
import pandas as pd

# Enable Arrow-based columnar data transfers
spark.conf.set("spark.sql.execution.arrow.pyspark.enabled", "true")

# Convert the Spark DataFrame back to a Pandas DataFrame using Arrow
PANDITA = df.select("*").toPandas()

## **EXCEL-TRABAJAR CON MÉTODO TRADICIONAL**

In [110]:
import pandas as pd
path = "C:/Users/Rayzek/Desktop/Nueva carpeta/ReporteTerminales 2022.11.21.xlsx"
da=pd.read_excel("C:/Users/Rayzek/Desktop/Nueva carpeta/ReporteTerminales 2022.11.21.xlsx")
cabeza=da.iloc[1]
da=da[2:]
da.columns=cabeza
da.head()

1,TIPO,TERMINAL/DNI/RUC,AGENTE/EJECUTIVO,UBICACIÓN,ARTÍCULO,NÚMERO SERIE,CANTIDAD,ESTADO,ACTUALIZADO,ESTADO_TERMINAL,FECHA_ACTUALIZACION_TERMINAL,Estado Personal,FECHA ACTUALIZACION PERSONAL
2,RUC(Empresa),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,RUC(Empresa),NaN,NaN,NaN,CARGADOR ICT220/1218,P83214389,1,Creado,NaN,NaN,NaN,NaN,NaN
4,RUC(Empresa),NaN,NaN,NaN,ICT220 TELIUM 3 - 11P2759A/1218,18275CT81750089,1,Creado,NaN,NaN,NaN,NaN,NaN
5,RUC(Empresa),NaN,NaN,NaN,APOS A8 PRO-95D1 12/19,199KAA100765,1,De regreso,NaN,NaN,NaN,NaN,NaN
6,RUC(Empresa),NaN,NaN,NaN,APOS A8 PRO-95D1 12/19,199KAA100766,1,De regreso,NaN,NaN,NaN,NaN,NaN